# Black code formatter configuration for Open Vision

[tool.black]
line-length = 120
target-version = ['py37', 'py38', 'py39', 'py310']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.git
  | __pycache__
  | venv
  | TMP
  | Projects
  | build
  | dist
)/
'''
